#sign_up_body{
    background-image: url('images/background.jpg');
    background-size:cover
}
#p_body{
    background-color:blanchedalmond;
}
.form_transparent{
    opacity: 0.85;
    border-radius: 5%;
    
}
.index_image 
{
    background-image: url('images/laptop.jpg');
    background-size: cover;
    height: 800px;
}
.index_header{
    background-color:blanchedalmond;
    opacity: 0.7;
    color: black;
    border-radius: 5%;
    position: absolute;
    width: 600px;
    height: 400px;
    margin-top: 150px;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
li{
    margin: 20px;
}
ul p{
    font-weight: lighter ;
}
ul img{
    height: 100px;
    width: 200px;
}
ul p{
    text-align: center;
}
ul h6{
    text-align: center;
}
.index_header h2{
    margin-top: 120px;
}







